@import "tailwindcss";
@theme {
    --font-mon: font-family: "Montserrat", sans-serif;
    --font-pop: font-family: "Poppins", sans-serif;
    --color-or: #FE7F2D;
    --color-gr: #215E61;
}

.custom-navbar {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #f5b942;
}

.title {
    font-weight: 700;
}

@keyframes infinite-scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
.animate-infinite-scroll {
    animation: infinite-scroll 25s linear infinite;
    width: max-content;
}
.scrollbar-hide::-webkit-scrollbar { display: none; }